@use '../../../../utils/style/variables' as *;

.movieCard {
  &__pagination {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 16/9;
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease;

    &--current {
      transform: translate3d(0%, 0, 0);
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-inline: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    z-index: 1;
    color: #deeeec;

    @media screen and (max-width: 630px) {
      padding: 1rem;
    }

    img {
      width: 4rem;
      height: 4rem;
      filter: invert(95%) sepia(8%) saturate(22%) hue-rotate(59deg)
        brightness(105%) contrast(106%);

      @media screen and (max-width: 630px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &--left {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 75%
      );

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          transparent 100%
        );
      }
    }

    &--right {
      right: 0;
      background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 75%
      );

      &:hover {
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0.6) 0%,
          transparent 100%
        );
      }
    }
  }
}
