@use '../../utils/style/variables' as *;

.movieCard {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: darken($background-color, 0.8%);
  border: 2px solid rgba($secondary-color, 0.2);
  overflow: hidden;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 630px) {
    padding: 1.25rem;
  }

  &__form {
    width: 100%;
    button {
      display: none;
    }
  }

  &__input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: 2px solid rgba($secondary-color, 0.2);
    color: $text-color;
    font-size: 1.025rem;
  }

  &__pagination {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 16/9;
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease;

    &--current {
      transform: translate3d(0%, 0, 0);
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-inline: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    z-index: 1;
    color: #deeeec;

    @media screen and (max-width: 630px) {
      padding: 1rem;
    }

    img {
      width: 4rem;
      height: 4rem;
      filter: invert(95%) sepia(8%) saturate(22%) hue-rotate(59deg)
        brightness(105%) contrast(106%);

      @media screen and (max-width: 630px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &--left {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 75%
      );

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6) 0%,
          transparent 100%
        );
      }
    }

    &--right {
      right: 0;
      background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 75%
      );

      &:hover {
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0.6) 0%,
          transparent 100%
        );
      }
    }
  }

  &__guess {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--true {
      background-color: $good-text-color;
      color: darken($good-text-color, 50%);
    }

    &--false {
      background-color: $error-text-color;
      color: darken($error-text-color, 50%);
    }
  }

  &__user {
    span {
      font-weight: bold;
    }
  }

  &__title {
    font-weight: bold;
  }
}
