.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  row-gap: 16px;
  column-gap: 16px;

  @media screen and (max-width: 630px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
