@use '../../utils/style/variables' as *;
@use '../../utils/style/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: min-content;
  background-color: darken($background-color, 2%);
  font-size: 1.25rem;
  font-weight: bold;
  position: sticky;
  inset: 0;
  z-index: 1000;

  &__button {
    @include button(0.5rem 2rem, 0.2rem);
  }
}
