@use './variables' as *;

@mixin button($padding, $radius: 0) {
  padding: $padding;
  outline: none;
  border: 1px solid rgba($primary-color, 0.3);
  border-radius: $radius;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;
  background-color: $primary-color;
  font-weight: bold;
}
